body {
    background-image: url('Images/Crowd.jpg');
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

#pageContainer {
    box-sizing: border-box;
    width: 60%;
    margin: 2em 16em;
    padding: 22em 0.8em;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.78);
}

#specificSearch {
    float: right;
    width: 40%;
    box-sizing: border-box;
    margin-top: -8em;
    margin-right: -1em;
}

#genre, #location, #venue, #date {
    background-color: white;
    color: rgb(26, 26, 26);
    font-size: 1.5em;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-radius: 10px 0 0 10px;
    border-color: orange;
    padding-top: 0.4em;
    padding-bottom: 2.5em;
    padding-left: 0.4em;
    margin: 0.1em;
    transition: margin-left 0.3s ease;
}

#genre {
    margin-left: -2.2em;
}
#location {
    margin-left: -1.3em;
}
#venue {
    margin-left: -0.2em;
}
#date {
    margin-left: 1em;
}

